$All: 'all and (min-width: 0px)';
$Phone: 'all and (max-width: 767px)';
$Narrow: 'all and (min-width: 768px)';
$Tablet: 'all and (min-width: 1024px)';
$Normal: 'all and (min-width: 1220px)';
$Wide: 'all and (min-width: 2000px)';

$container: 1220px;
